.rating {
    position: absolute;
    width: 100%;
    background-color: white;
}

.rating h1 {
    color: rgb(57, 57, 57);
    font-size: 60px;
    text-shadow: 4px 4px 2px blueviolet;
}

.rating-grid {
    display: grid;
    grid-template-areas: 
    "div-1 div-2 div-3 div-4"
    "div-5 div-6 div-7 div-8"
    "div-9 div-10 div-11 div-12";
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.rating-div {
  text-align: left;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rating-weight {
    font-size: 14px;
    color: rgb(171, 17, 17);
    font-weight: 600;
}

.rating-img {
    width: 20wv;
    border-bottom: 1px solid gray;
}

.rating-name {
    text-transform: uppercase;
    font-size: 20px;
}

.rating-div p {
    color: grey;
    font-size: 14px
}

.rating-div strong {
    padding-right: 10px;
    color: black;
}

.div-1 {
    grid-area: div-1;
}

.div-1 h6 {
    margin-bottom: 14px
}

.div-2 {
    grid-area: div-2;
}

.div-3 {
    grid-area: div-3;
}

.div-4 {
    grid-area: div-4;
}

.div-5 {
    grid-area: div-5;
}

.div-6 {
    grid-area: div-6;
}

.div-7 {
    grid-area: div-7;
}

.div-8 {
    grid-area: div-8;
}

.div-9 {
    grid-area: div-9;
}

.div-10 {
    grid-area: div-10;
}

.div-11 {
    grid-area: div-11;
}

.div-12 {
    grid-area: div-12;
}

@media (max-width: 890px) {
    .rating-grid {
        grid-template-areas: 
        "div-1 div-2 div-3"
        "div-4 div-5 div-6"
        "div-7 div-8 div-9"
        "div-10 div-11 div-12";
        grid-template-columns: 33% 33% 33%;
    }
}

@media (max-width: 690px) {
    .rating-grid {
        grid-template-areas: 
        "div-1 div-2"
        "div-3 div-4"
        "div-5 div-6"
        "div-7 div-8"
        "div-9 div-10"
        "div-11 div-12";
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 470px) {
    .rating-grid {
        grid-template-areas: 
        "div-1"
        "div-2"
        "div-3" 
        "div-4"
        "div-5" 
        "div-6"
        "div-7" 
        "div-8"
        "div-9" 
        "div-10"
        "div-11" 
        "div-12";
        grid-template-columns: 100%;
    }
}