.App {
  text-align: center;
}

body {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/0bfe7b44427195.58122b55407cd.png");
  max-width: 100wv;
  background-position-x: 50%;
}